<table style="margin: 0 auto; width: 100%;">
	<tbody>
		<tr>
			<td style="padding: 40px; width: 100%; border: none; color: #fcfcfc; background-color: #336; background-image: url(https://www.premier.org.uk/var/ezdemo_site/storage/images/media/images/premier-news-images/christian/worshipping-main/15408016-2-eng-GB/worshipping-main_article_image.jpg); background-repeat: no-repeat; background-size: cover; background-position: center center;">
				<p style="text-align: center; font-size: 12px; color: #ccc;">뉴스레터 1호</p>
				<h2 style="text-align: center; font-size: 30px; font-weight: 900;">APORIA</h2>
				<p style="text-align: center;font-size: 16px; color: #ddd; font-weight: bold;">그들이 곧 청춘의 교향악이다</p>
			</td>
		</tr>
	</tbody>
</table>