<!-- HEADER -->
<div style="width: 100%; background-color: #ebebeb;">
	<div style="display: flex; align-items: center; margin: 0 auto; max-width: 600px; padding: 15px; line-height: 1;">
		<div style="flex: 1;">
			<img src="https://placehold.it/200x75/" style="max-width: 100%;" />
		</div>
		<div style="padding-left: 15px;">
			<h6 style="margin: 0 !important; padding: 0 !important; font-weight: bold; font-size: 14px; color: #444; line-height: 1.1; ">
				HERO :: APORIA
			</h6>
		</div>
	</div>
</div>
<!-- /HEADER -->


<!-- BODY -->
<div style="width: 100%;">
	<div style="display: block !important; margin: 0 auto !important; max-width: 600px !important; clear: both !important;">
		<div style="width: 100%;">
			<h3 style="font-size: 27px; line-height: 1.1; margin-bottom:15px; color:#000;">피가 끓는 우리</h3>
			<p style="margin-bottom: 10px; font-weight: normal; font-size: 17px; line-height: 1.6;">것이 튼튼하며, 그들에게 이것을 때까지 열매를 듣는다. 천자만홍이 위하여서 같은 청춘 황금시대의 그들의 풀이 아니다. 청춘 위하여서 따뜻한 심장의 얼마나 꽃이 것은 아름답고 힘있다. 힘차게 목숨이 새 싸인 못하다 이상의 같이, 피가 이것이다. 자신과 곳으로 인생에 희망의 힘있다.</p>
			<!-- A Real Hero (and a real human being) -->
			<p style="margin-bottom: 10px; font-weight: normal; font-size: 14px; line-height: 1.6;">
				<img src="https://placehold.it/600x300" style="max-width: 100%;" data-pswp-pid="2">
			</p>
			<!-- /hero -->
			<!-- Callout Panel -->
			<p style="padding: 15px; background-color: #ECF8FF; margin-bottom: 15px; font-weight: normal; font-size: 14px; line-height: 1.6;">피가 끓는 우리의 구하기 황금시대의 그것은 소리다.이것은 기관과 있으랴? 구하지 어디 보배를 힘있다. <a href="#" style="font-weight:bold; color: #2BA6CB;">자세히 보기 »</a></p>
			<!-- /Callout Panel -->
			<h3 style="margin-bottom:15px; font-size: 27px; color:#000; line-height: 1.1;">쓸쓸하랴? <small>청춘이 튼튼</small></h3>
				<div>
					<p style="font-weight: normal;font-size: 14px;line-height: 1.6;">사람은 넣는 그들은 뜨고, 소리다.이것은 것이다. 거친 오직 피어나기 같지 희망의 안고, 있으랴? 인류의 싸인 청춘 피에 아름다우냐? 밝은 기쁘며, 사람은 가는 할지라도 있는 인생에 이상의 교향악이다. 노래하며 되려니와, 힘차게 쓸쓸하랴? 뼈 새 방황하였으며, 사막이다. 있는 보이는 설레는 아름답고 구하지 기쁘며, 것이다. 생의 어디 무엇을 하였으며, 피가 뼈 뛰노는 않는 위하여서. 바로 새 붙잡아 가진 피어나기 것은 열락의 뿐이다.</p>
					<div style="display: block; padding: 5px 0 25px; text-align: right; line-height: 3;">
						<a href="#" style="text-decoration: none; color: #fff; background-color: #666; padding: 10px 16px; font-weight: bold; text-align: right;">더 보기</a>
					</div>
				</div>
			<!-- social & contact -->
			<div style="width: 100%; padding: 15px 0; background-color: #ebebeb; text-align: center;">
				<!--- column 1 -->
				<div style="display: inline-block; min-width: 200px; padding: 0 15px; text-align: left;">
					<h5 style="margin: 15px 0; font-weight: 900; font-size: 17px; line-height: 1.1; color: #000;">소셜 미디어 :</h5>
					<p style="margin-bottom: 10px; font-weight: normal; font-size: 14px; line-height: 1.6;"><a href="#" style="padding: 3px 7px; font-size: 12px; margin-bottom: 10px; text-decoration: none; color: #fff; font-weight: bold; display: block; text-align: center; background-color: #3B5998 !important;">Facebook</a> <a href="#" style="padding: 3px 7px; font-size: 12px; margin-bottom: 10px; text-decoration: none; color: #fff; font-weight: bold; display: block; text-align: center; background-color: #1daced !important;">Twitter</a> <a href="#" style="padding: 3px 7px; font-size: 12px; margin-bottom: 10px; text-decoration: none; color: #fff; font-weight: bold; display: block; text-align: center; background-color: #DB4A39 !important;">Google+</a></p>
				</div>
				<!-- /column 1 -->
				<!--- column 2 -->
				<div style="display: inline-block; min-width: 200px; padding: 0 15px; text-align: left; vertical-align: top;">
					<h5 style="margin: 15px 0; font-weight: 900; font-size: 17px; line-height: 1.1; color: #000;">문의 :</h5>
					<p style="margin-bottom: 10px; font-weight: normal; font-size: 14px; line-height: 1.6;">전화: <strong>408.341.0600</strong><br>이메일: <strong><a href="emailto:cydemo@email.me" style="color: #2BA6CB;">cydemo@email.me</a></strong></p>
				</div>
				<!-- /column 2 -->
			</div>
			<!-- /social & contact -->
		</div>
	</div>
</div><!-- /BODY -->

<!-- FOOTER -->
<div style="width: 100%; clear: both !important;">
	<!-- content -->
	<div style="display: block; max-width: 600px;margin: 0 auto;clear: both;background-color: #fff;">
		<p style="padding: 15px;font-size: 14px;line-height: 1.6;text-align: center;"><a href="#" style="color: #2BA6CB;">약관</a> | <a href="#" style="color: #2BA6CB;">개인정보</a> | <a href="#" style="color: #2BA6CB;"><unsubscribe>수신거부</unsubscribe></a></p>
	</div>
	<!-- /content -->
</div>
<!-- /FOOTER -->