<table style="width: 100%; border: none; border-collapse:collapse;">
	<tr>
		<td style="width: 50%;"><h3>Title 1</h3></td>
		<td></td>
		<td style="width: 50%;"><h3>Title 2</h3></td>
	</tr>
	<tr>
		<td style="width: 50%;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
		<td></td>
		<td style="width: 50%;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</td>
	</tr>
</table>
<p>&nbsp;</p>
<p>More text goes here. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>