<table style="margin: 0 auto; width: 100%; max-width: 600px;">
	<tbody>
		<tr>
			<td style="width: 50%; border: none; text-align: left; vertical-align: middle;">
				<a href="#"><img src="https://78.media.tumblr.com/272906a30041c76abc6c7dee2b36b0be/tumblr_mom31mwUlg1r4oun7o2_1280.png" style="width: 80%;" /></a>
			</td>
			<td style="width: 50%; border: none; text-align: right; vertical-align: middle;">
				<a href="#"><img src="https://3.bp.blogspot.com/-Tuy9bpmmo9E/Wa5gLnvnA5I/AAAAAAAAAYw/ho12-0cnZt8_Iz_D9UWsBtuoyObwBSrrwCLcBGAs/s1600/GG%2Bcrown%2Bcopy-trans.png" style="width: 25%;" /></a>
			</td>
		</tr>
	</tbody>
</table>