<div style="width: 100%;">
	<h3>Title goes here</h3>
	<table style="width: 150px; float: right; border: 1px solid #aaa; text-align: center; border-collapse:collapse;">
		<caption style="border: 1px solid #333;"><strong>Table title</strong></caption>
		<tr>
			<td>1</td>
			<td>2</td>
			<td>3</td>
		</tr>
		<tr>
			<td>4</td>
			<td>5</td>
			<td>6</td>
		</tr>
		<tr>
			<td>7</td>
			<td>8</td>
			<td>9</td>
		</tr>
	</table>
	<p>Type the text here. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>