<table style="margin: 0 auto; width: 100%; max-width: 600px; border: 1px solid #ddd; border-radius: 4px; border-spacing: 0;">
	<tbody>
		<tr>
			<td style="display: inline-flex; justify-content: center; align-items: center; width: 100%; max-height: 250px; overflow: hidden; line-height: 0; padding: 0; border: none;">
				<img src="https://n.sinaimg.cn/sinacn/w600h429/20171216/01f8-fypsqka3472806.jpg" style="margin: 0; width: 600px; max-width: 100%; height: auto;" />
			</td>
		</tr>
		<tr>
			<td style="padding: 20px; border: none; font-size: 15px;">
				<h2 style="text-align: center; font-size: 20px; color: #333;">Article #1</h2>
				<p style="margin: 1em auto; text-align: center; color: #999;">바로 그것이 새로운 나라다!!<br />자신의 의지로 긍지를 가지고 자신을 위해 살아.</p>
				<p style="margin: 1em auto; text-align: center;"><a href="#" style="background: #39c; padding: 10px 20px; border-radius: 20px; color: #f3f3f3; line-height: 5; text-decoration: none;">Read more</a></p>
			</td>
		</tr>
	</tbody>
</table>