<!-- HEADER -->
<table style="background-color: #999; width: 100%">
	<tr>
		<td></td>
		<td style="display: block; max-width: 600px; margin: 0 auto; clear: both;">

			<!-- /content -->
			<div style="display: block; padding: 15px; max-width: 600px; margin: 0 auto;">
				<table style="background-color: #999; width: 100%">
					<tr>
						<td><img src="https://placehold.it/200x50/" style="max-width: 100%;" /></td>
						<td align="right" style="text-align: right;"><h6 style="margin: 0 !important; padding: 0; font-weight: 900; font-size: 14px; text-transform: uppercase; color: #444; line-height: 1.1;">Sidebar Hero</h6></td>
					</tr>
				</table>
			</div>
			<!-- /content -->

		</td>
		<td></td>
	</tr>
</table>
<!-- /HEADER -->

<!-- BODY -->
<table style="width: 100%;">
	<tr>
		<td></td>
		<td style="display: block; max-width: 600px; margin: 0 auto; clear: both; background-color: #fff;">
			
			<!-- content -->
			<div style="display: block; padding: 15px; max-width: 600px; margin: 0 auto;">
				<table style="width: 100%;">
					<tr>
						<td>
							<h1 style="margin: 20px 0 15px; line-height: 1.1; color: #000; font-weight: 200; font-size: 44px;">Welcome, Hari Seldon</h1>
							<p style="font-size: 17px; margin-bottom: 10px; font-weight: normal; line-height: 1.6;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>

							<!-- A Real Hero (and a real human being) -->
							<p style="margin-bottom: 10px; font-weight: normal; font-size: 14px; line-height: 1.6;"><img src="https://placehold.it/600x300" style="max-width: 100%;" /></p>
							<!-- /hero -->
							
							<!-- Callout Panel -->
							<p style="margin-bottom: 15px; padding: 15px; background-color: #ECF8FF; font-weight: normal; font-size: 14px; line-height: 1.6;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt. <a href="#" style="font-weight: bold; color: #2BA6CB;">Do it Now! &raquo;</a>	</p>
							<!-- /callout panel -->
	
						</td>
					</tr>
				</table>
			</div>
			
			<!-- COLUMN WRAP -->
			<div style="padding:0!important; margin:0 auto; max-width:570px!important;">

				<div style="width: 285px; float:left;">
					<table style="width: 100%;">
						<tr>
							<td>
								<p style="margin-bottom: 10px; font-weight: normal; font-size: 14px; line-height: 1.6;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.</p>
								<p style="margin-bottom: 10px; font-weight: normal; font-size: 14px; line-height: 1.6;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet.</p>
								<p style="margin-bottom: 10px; font-weight: normal; font-size: 14px; line-height: 1.6;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet.</p>
								<a style="text-decoration: none; color: #fff; background-color: #666; padding: 10px 16px; font-weight: bold; margin-right: 10px; text-align: center; cursor: pointer; display: inline-block;">Click Here &raquo;</a>
							</td>
						</tr>
					</table>
				</div>

				<div style="width: 285px; float:left;">
					<table style="width: 100%;">
						<tr>
							<td>

								<ul class="sidebar" style="background:#ebebeb; display:block; list-style-type: none; margin-bottom: 10px; font-weight: normal; font-size:14px; line-height:1.6;">
									<li style="list-style-position: inside; display: block; margin: 0;">
										<a style="text-decoration:none; color: #666; padding:10px 16px; margin-right:10px; cursor:pointer; border-bottom: 1px solid #777777; border-top: 1px solid #FFFFFF; display:block; margin:0;">
											<h5 style="font-weight:900; font-size: 17px; line-height: 1.1; margin-bottom:0; color:#000;">Header Thing &raquo;</h5>
											<p style="margin-bottom: 0; font-weight: normal; font-size: 14px; line-height: 1.6;">Sub-head or something</p>
										</a>
									</li>
									<li style="list-style-position: inside; display: block; margin: 0;">
										<a style="text-decoration:none; color: #666; padding:10px 16px; margin-right:10px; cursor:pointer; border-bottom: 1px solid #777777; border-top: 1px solid #FFFFFF; display:block; margin:0;">
											Just a Plain Link &raquo;
										</a>
									</li>
									<li style="list-style-position: inside; display: block; margin: 0;">
										<a style="text-decoration:none; color: #666; padding:10px 16px; margin-right:10px; cursor:pointer; border-bottom: 1px solid #777777; border-top: 1px solid #FFFFFF; display:block; margin:0;">
											Just a Plain Link &raquo;
										</a>
									</li>
									<li style="list-style-position: inside; display: block; margin: 0;">
										<a style="text-decoration:none; color: #666; padding:10px 16px; margin-right:10px; cursor:pointer; border-bottom: 1px solid #777777; border-top: 1px solid #FFFFFF; display:block; margin:0;">
											Just a Plain Link &raquo;
										</a>
									</li>
									<li style="list-style-position: inside; display: block; margin: 0;">
										<a style="text-decoration:none; color: #666; padding:10px 16px; margin-right:10px; cursor:pointer; border-bottom: 1px solid #777777; border-top: 1px solid #FFFFFF; display:block; margin:0;">
											Just a Plain Link &raquo;
										</a>
									</li>
									<li style="list-style-position: inside; display: block; margin: 0;">
										<a style="text-decoration:none; color: #666; padding:10px 16px; margin-right:10px; cursor:pointer; border-bottom: 1px solid #777777; border-top: 1px solid #FFFFFF; display:block; margin:0;">
											Just a Plain Link &raquo;
										</a>
									</li>
									<li style="list-style-position: inside; display: block; margin: 0;">
										<a style="text-decoration:none; color: #666; padding:10px 16px; margin-right:10px; cursor:pointer; border-bottom: 1px solid #777777; border-top: 1px solid #FFFFFF; display:block; margin:0;">
											Just a Plain Link &raquo;
										</a>
									</li>
									<li style="list-style-position: inside; display: block; margin: 0;">
										<a style="text-decoration:none; color: #666; padding:10px 16px; margin-right:10px; cursor:pointer; border-bottom: 1px solid #777777; border-top: 1px solid #FFFFFF; display:block; margin:0;">
											Just a Plain Link &raquo;
										</a>
									</li>
									<li style="list-style-position: inside; display: block; margin: 0;">
										<a style="text-decoration:none; color: #666; padding:10px 16px; margin-right:10px; cursor:pointer; border-bottom: 1px solid #777777; border-top: 1px solid #FFFFFF; display:block; margin:0;">
											Just a Plain Link &raquo;
										</a>
									</li>
									<li style="list-style-position: inside; display: block; margin: 0;">
										<a style="border-bottom-width: 0px; text-decoration:none; color: #666; padding:10px 16px; margin-right:10px; cursor:pointer; border-top: 1px solid #FFFFFF; display:block; margin:0;">
											Just a Plain Link &raquo;
										</a>
									</li>
								</ul>

								<!-- social & contact -->
								<table style="width: 100%; background-color: #ebebeb;">
									<tr>
										<td>

											<!--- column 1 -->
											<div style="width: 275px; min-width: 275px; float: left;">
												<table style="width: 100%; text-align: left;">
													<tr>
														<td style="padding: 15px;">
															<h5 style="font-weight: 900; font-size: 17px; line-height: 1.1; margin-bottom: 15px; color: #000;">Connect with Us:</h5>
															<p style="margin-bottom: 10px; font-weight: normal; font-size: 14px; line-height: 1.6;">
																<a href="#" style="padding: 3px 7px; font-size: 12px; margin-bottom: 10px; text-decoration: none; color: #fff; font-weight: bold; display: block; text-align: center; background-color: #3B5998 !important;">Facebook</a>
																<a href="#" style="padding: 3px 7px; font-size: 12px; margin-bottom: 10px; text-decoration: none; color: #fff; font-weight: bold; display: block; text-align: center; background-color: #1daced !important;">Twitter</a>
																<a href="#" style="padding: 3px 7px; font-size: 12px; margin-bottom: 10px; text-decoration: none; color: #fff; font-weight: bold; display: block; text-align: center; background-color: #DB4A39 !important;">Google+</a>
															</p>
														</td>
													</tr>
												</table>
											</div>
											<!-- /column 1 -->

											<!--- column 2 -->
											<div style="width: 275px; min-width: 275px; float: left;">
												<table style="width: 100%; text-align: left;">
													<tr>
														<td style="padding: 15px;">
															<h5 style="font-weight: 900; font-size: 17px; line-height: 1.1; margin-bottom: 15px; color: #000;">Contact Info:</h5>
															<p style="margin-bottom: 10px; font-weight: normal; font-size: 14px; line-height: 1.6;">
																Phone: <strong>408.341.0600</strong><br/>
																Email: <strong><a href="emailto:cydemo@email.me" style="color: #2BA6CB;">cydemo@email.me</a></strong>
															</p>
														</td>
													</tr>
												</table>
											</div>
											<!-- /column 2 -->

											<div style="display: block; clear: both;"></div>

										</td>
									</tr>
								</table>
								<!-- /social & contact -->

							</td>
						</tr>
					</table>
				</div>

				<div class="clear"></div>

			</div>
			<!-- /COLUMN WRAP -->	
			
		</td>
		<td></td>
	</tr>
</table>

<!-- FOOTER -->
<table style="width: 100%; clear: both !important;">
	<tr>
		<td></td>
		<td style="display: block; max-width: 600px; margin: 0 auto; clear: both; background-color: #fff;">

				<!-- content -->
				<div style="display: block; padding: 15px; max-width: 600px; margin: 0 auto;">
					<table style="width: 100%;">
						<tr>
							<td style="text-align: center;">
								<p style="margin-bottom: 10px; font-weight: normal; font-size: 14px; line-height: 1.6;">
									<a href="#" style="color: #2BA6CB;">Terms</a> | <a href="#" style="color: #2BA6CB;">Privacy</a> | <a href="#" style="color: #2BA6CB;"><unsubscribe>Unsubscribe</unsubscribe></a>
								</p>
							</td>
						</tr>
					</table>
				</div>
				<!-- /content -->

		</td>
		<td></td>
	</tr>
</table>
<!-- /FOOTER -->