<!-- HEADER -->
<table style="width: 100%; background-color: #ebebeb;">
	<tr>
		<td></td>
		<td style="display: block !important; margin: 0 auto !important; max-width: 600px !important; clear: both !important;">
			<div style="display: block; margin: 0 auto; max-width: 600px; padding: 15px;">
			<table style="width: 100%;">
				<tr>
					<td><img src="https://placehold.it/200x50/" style="max-width: 100%;" /></td>
					<td style="text-align: right;"><h6 style="margin: 0 !important; padding: 0; font-weight: 900; font-size: 14px; text-transform: uppercase; color: #444; line-height: 1.1; ">Basic</h6></td>
				</tr>
			</table>
			</div>
		</td>
		<td></td>
	</tr>
</table>
<!-- /HEADER -->

<!-- BODY -->
<table style="width: 100%;">
	<tr>
		<td></td>
		<td style="display: block !important; margin: 0 auto !important; max-width: 600px !important; clear: both !important;">

			<div style="display: block; margin: 0 auto; max-width: 600px; padding: 15px;">
			<table style="width: 100%;">
				<tr>
					<td>
						<h3 style="font-weight:500; font-size: 27px; line-height: 1.1; margin-bottom:15px; color:#000;">Hi, Elijah Baily</h3>
						<p style="margin-bottom: 10px; font-weight: normal; font-size: 17px; line-height: 1.6;">Phasellus dictum sapien a neque luctus cursus. Pellentesque sem dolor, fringilla et pharetra vitae.</p>
						<p style="margin-bottom: 10px; font-weight: normal; font-size: 14px; line-height: 1.6;">Phasellus dictum sapien a neque luctus cursus. Pellentesque sem dolor, fringilla et pharetra vitae. consequat vel lacus. Sed iaculis pulvinar ligula, ornare fringilla ante viverra et. In hac habitasse platea dictumst. Donec vel orci mi, eu congue justo. Integer eget odio est, eget malesuada lorem. Aenean sed tellus dui, vitae viverra risus. Nullam massa sapien, pulvinar eleifend fringilla id, convallis eget nisi. Mauris a sagittis dui. Pellentesque non lacinia mi. Fusce sit amet libero sit amet erat venenatis sollicitudin vitae vel eros. Cras nunc sapien, interdum sit amet porttitor ut, congue quis urna.</p>
						<!-- Callout Panel -->
						<p style="padding: 15px; background-color: #ECF8FF; margin-bottom: 15px; font-weight: normal; font-size: 14px; line-height: 1.6;">Phasellus dictum sapien a neque luctus cursus. Pellentesque sem dolor, fringilla et pharetra vitae. <a href="#" style="font-weight:bold; color: #2BA6CB;">Click it! &raquo;</a></p>
						<!-- /Callout Panel -->
						<!-- social & contact -->
						<table style="width: 100%; background-color: #ebebeb;">
							<tr>
								<td>
									<!--- column 1 -->
									<div style="float: left;">
										<table style="width: 100%; text-align: left;">
											<tr>
												<td style="padding: 15px 15px 0;">
													<h5 style="margin: 15px 0; font-weight: 900; font-size: 17px; line-height: 1.1; color: #000;">Connect with Us:</h5>
													<p style="margin-bottom: 10px; font-weight: normal; font-size: 14px; line-height: 1.6;">
														<a href="#" style="padding: 3px 7px; font-size: 12px; margin-bottom: 10px; text-decoration: none; color: #fff; font-weight: bold; display: block; text-align: center; background-color: #3B5998 !important;">Facebook</a>
														<a href="#" style="padding: 3px 7px; font-size: 12px; margin-bottom: 10px; text-decoration: none; color: #fff; font-weight: bold; display: block; text-align: center; background-color: #1daced !important;">Twitter</a>
														<a href="#" style="padding: 3px 7px; font-size: 12px; margin-bottom: 10px; text-decoration: none; color: #fff; font-weight: bold; display: block; text-align: center; background-color: #DB4A39 !important;">Google+</a>
													</p>
												</td>
											</tr>
										</table>
									</div>
									<!-- /column 1 -->
									<!--- column 2 -->
									<div style="float: left;">
										<table style="width: 100%; text-align: left;">
											<tr>
												<td style="padding: 15px 15px 0;">
													<h5 style="margin: 15px 0; font-weight: 900; font-size: 17px; line-height: 1.1; color: #000;">Contact Info:</h5>
													<p style="margin-bottom: 10px; font-weight: normal; font-size: 14px; line-height: 1.6;">
														Phone: <strong>408.341.0600</strong><br/>
														Email: <strong><a href="emailto:cydemo@email.me" style="color: #2BA6CB;">cydemo@email.me</a></strong>
													</p>
												</td>
											</tr>
										</table>
									</div>
									<!-- /column 2 -->
									<div style="display: block; clear: both;"></div>
								</td>
							</tr>
						</table>
						<!-- /social & contact -->
					</td>
				</tr>
			</table>
			</div>
			<!-- /content -->
		</td>
		<td></td>
	</tr>
</table>
<!-- /BODY -->

<!-- FOOTER -->
<table style="width: 100%; clear: both !important;">
	<tr>
		<td></td>
		<td style="display: block; max-width: 600px; margin: 0 auto; clear: both; background-color: #fff;">

				<!-- content -->
				<div style="display: block; padding: 15px; max-width: 600px; margin: 0 auto;">
					<table style="width: 100%;">
						<tr>
							<td style="text-align: center;">
								<p style="margin-bottom: 10px; font-weight: normal; font-size: 14px; line-height: 1.6;">
									<a href="#" style="color: #2BA6CB;">Terms</a> | <a href="#" style="color: #2BA6CB;">Privacy</a> | <a href="#" style="color: #2BA6CB;"><unsubscribe>Unsubscribe</unsubscribe></a>
								</p>
							</td>
						</tr>
					</table>
				</div>
				<!-- /content -->

		</td>
		<td></td>
	</tr>
</table>
<!-- /FOOTER -->