<table style="margin: 0 auto; width: 100%;">
	<tbody>
		<tr>
			<td style="padding: 48px 20px 40px; width: 100%; border: none; background-image: url(https://image.freepik.com/free-psd/abstract-background-design_1297-87.jpg); background-size: cover; background-color: #292c2f; box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12); box-sizing: border-box; font-size: 12px; font-weight: bold; color: #eee;">

				<table style="margin: 0 auto; width: 100%; max-width: 600px;">
					<tbody>
						<tr>
							<td style="width: 100%; border: none;">

								<h2 style="margin: 0 0 20px 0; font-size: 24px;">APORIA</h2>

								<table style="display: inline-block; margin: 0 36px 20px 0; width: auto; vertical-align: top;">
									<tbody>
										<tr>
											<td style="width: 100%; border: none;">
												<p style="margin: 0; padding: 0; font-size: 16px;"><a href="#" style="margin-right: 12px; display: inline-block; line-height: 1.8; text-decoration: none; color: inherit;">다른 호 보기</a><a href="#" style="margin-right: 12px; display: inline-block; line-height: 1.8; text-decoration: none; color: inherit;">문의 및 상담</a><a href="#" style="margin-right: 12px; display: inline-block; line-height: 1.8; text-decoration: none; color: inherit;">수신 거부</a></p>
												<p style="margin: 0; color: #8f9296; font-size: 12px; font-weight: normal;">저작권자 &copy; 2015</p>
											</td>
										</tr>
									</tbody>
								</table>

								<table style="display: inline-block; margin: 0; width: auto; vertical-align: top;">
									<tbody>
										<tr>
											<td style="border: none;">
												<p style="display: inline-block; position: relative; margin: 10px 15px 10px 0; background-color: #33383b; width: 38px; height: 38px; border-radius: 50%; vertical-align: middle;">
													<img style="position: absolute; margin: 0; top: 50%; left: 50%; transform: translate(-50%, -50%);" src="https://icons.simplesvg.com/fa-map-marker.svg?color=lightgray&amp;height=24&amp;inline=true">
												</p>
											</td>
											<td style="border: none; vertical-align: middle;">
												<p style="margin: 0; color: #ddd; font-size: 13px;"><span style="display: block; font-weight: normal; line-height: 2;">21 Revolution Street</span> Paris, France</p>
											</td>
										</tr>
										<tr>
											<td style="border: none;">
												<p style="display: inline-block; position: relative; margin: 10px 15px 10px 0; background-color: #33383b; width: 38px; height: 38px; border-radius: 50%; vertical-align: middle;">
													<img style="position: absolute; margin: 0; top: 50%; left: 50%; transform: translate(-50%, -50%);" src="https://icons.simplesvg.com/fa-phone.svg?color=lightgray&amp;height=22&amp;inline=true">
												</p>
											</td>
											<td style="border: none; vertical-align: middle;">
												<p style="margin: 0; color: #ddd; font-size: 13px;">+1 555 123456</p>
											</td>
										</tr>
										<tr>
											<td style="border: none;">
												<p style="display: inline-block; position: relative; margin: 10px 15px 10px 0; background-color: #33383b; width: 38px; height: 38px; border-radius: 50%; vertical-align: middle;">
													<img style="position: absolute; margin: 0; top: 50%; left: 50%; transform: translate(-50%, -50%);" src="https://icons.simplesvg.com/fa-envelope.svg?color=lightgray&amp;height=18&amp;inline=true">
												</p>
											</td>
											<td style="border: none; vertical-align: middle;">
												<p style="margin: 0; font-size: 12px;"><a href="mailto:cydemo@email.me" style="color: #39c; text-decoration: none;">cydemo@email.me</a></p>
											</td>
										</tr>
									</tbody>
								</table>

								<table style="display: inline-block; margin-top: 25px; vertical-align: top;">
									<tbody>
										<tr>
											<td style="width: 100%; border: none;">
												<p style="color: #92999f; font-weight: normal; line-height: 16px; float: left;"><span style="display: block; color: #ccc; font-size: 13px; font-weight: bold; margin-bottom: 12px;">아포리아란?</span> 어떤 대상에 대한 해석을 어렵게 하는 내재적 모순이나 서로 화해시킬 수 없는 패러독스.</p>
												<table style="float: right; margin-top: 10px;">
													<tbody>
														<tr>
															<td style="width: 100%; border: none;">
																<a href="#" style="display: inline-block; position: relative; margin-right: 3px; margin-bottom: 5px; width: 35px; height: 35px; cursor: pointer; background-color: #666b6e; border-radius: 2px; line-height: 35px;">
																	<img style="position: absolute; margin: 0; top: 50%; left: 50%; transform: translate(-50%, -50%);" src="https://icons.simplesvg.com/fa-facebook.svg?color=lightgray&amp;height=20&amp;inline=true">
																</a>
																<a href="#" style="display: inline-block; position: relative; margin-right: 3px; margin-bottom: 5px; width: 35px; height: 35px; cursor: pointer; background-color: #666b6e; border-radius: 2px; line-height: 35px;">
																	<img style="position: absolute; margin: 0; top: 50%; left: 50%; transform: translate(-50%, -50%);" src="https://icons.simplesvg.com/fa-twitter.svg?color=lightgray&amp;height=20&amp;inline=true">
																</a>
																<a href="#" style="display: inline-block; position: relative; margin-right: 3px; margin-bottom: 5px; width: 35px; height: 35px; cursor: pointer; background-color: #666b6e; border-radius: 2px; line-height: 35px;">
																	<img style="position: absolute; margin: 0; top: 50%; left: 50%; transform: translate(-50%, -50%);" src="https://icons.simplesvg.com/fa-google-plus.svg?color=lightgray&amp;height=20&amp;inline=true">
																</a>
															</td>
														</td>
													</tbody>
												</table>
											</td>
										</tr>
									</tbody>
								</table>

							</td>
						</tr>
					</tbody>
				</table>

			</td>
		</tr>
	</tbody>
</table>